@media (min-width: 1440px) {
  .gallery-container {
    column-count: 4;
    width: 1360px;
    column-gap: 40px;
  }

  .card {
    flex-direction: row;
    margin: 0 40px;
  }
  .card-left {
    min-width: 855px;
  }
  .painting-image {
    height: 560px;
    width: 475px;
  }
  .view-image {
    top: 504px;
  }
  .card-left__box {
    position: absolute;
    top: 0;
    left: 410px;
    height: 302px;
    width: 380px;
    padding-top: 0;
    padding-left: 65px;
  }
  .title {
    font-size: 56px;
    line-height: 64px;
  }
  .author {
    font-size: 15px;
    line-height: 19px;
  }

  .card-right {
    flex-grow: 1;
  }
  .display-year {
    font-size: 200px;
    line-height: 250px;

    text-align: right;
  }
  .display-description {
    text-align: left;
    margin-top: -115px;
  }
  .footer {
    height: calc(96px - 80px);
    padding: 25px 40px 25px 40px;
  }
  .footer__title {
    font-size: 18px;
    line-height: 22px;
  }

  .footer__title p:nth-of-type(2) {
    font-size: 13px;
    line-height: 16px;
  }
}
